# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database files
data/*.db

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Logs
*.log

# Environment variables / secrets
.env

# Jupyter Notebook checkpoints (if ever used)
.ipynb_checkpoints/

# Python virtual environments
venv/
env/
ENV/
